@media screen and (min-width: 450px) {
    body {
        background: var(--Light_pink) url(assets/images/background-pattern-desktop.svg) no-repeat;
    }
}

@media screen and (min-width: 700px) {
    .container {
        width: 675px;
    }
   
}


@media screen and (min-width: 1440px) {
    body {
        background-size: contain;
    }

    .container {
        padding: 50px 40px;
        gap: 0;
    }

    .head h1 {
        font-size: 50px;
    }
}
