@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

}

:root {
    --White: hsl(0, 0%, 100%);
    --Light_pink: hsl(275, 100%, 97%);
    --Grayish_purple: hsl(292, 16%, 49%);
    --Dark_purple: hsl(292, 42%, 14%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Light_pink) url(assets/images/background-pattern-mobile.svg) no-repeat;
    background-size: contain;
}

.container {
    /* border: 2px solid red; */
    width: 85vw;
    background-color: var(--White);
    border-radius: 15px;
    display: grid;
    margin: 40px 0;
    padding: 40px 30px;
    grid-template-columns: auto;
    gap: 25px;
}

.head {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25px;
    /* justify-content: space-between; */
}

.head h1 {
    font-size: 40px;
}

.question {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 12px;
    cursor: pointer;
}

summary {
    color: var(--Dark_purple);
    font-weight: 600;
    font-size: 18px;
}

details>p {
    color: var(--Grayish_purple);
    line-height: 1.5;
    padding-bottom: 15px;

}

details>summary {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 12px 0;
    cursor: pointer;
}

details {
    border-bottom: 1px solid var(--Light_pink);
}

details:last-child {
    border-bottom: none;
}